.coverage
.idea
.pytest_cache
.tox
*.pdb
*.pyc
build
derby.log
py2jdbc_derby
dist
htmlcov
MANIFEST
py2jdbc.egg-info
py2jdbc.conf
py2jdbc_derby
setup.cfg
TAGS
tests/lib/derby.jar
tests/lib/mysql-connector-java-8.0.12.jar
tmp
